 body {
    max-width: 35rem; /* limits line length */
    margin: 0 auto;   /* centers the content */
}
body {
  background-color: rgb(97, 160, 255);
}
img {
  float: none;
}
img {
  float: none;
}
img {
  float: none;
}
